.title-bar {
  position: fixed;
  z-index: 1;
  top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  word-break: break-all;
}

.title {
  width: 75%;
  margin: auto;
  text-align: center;
}

.title-bar h1 {
  width: 90%;
  margin: auto;
  font-size: 50px;
  font-family: "Londrina Solid", cursive;
}

.logout-btn {
  height: 50px;
}
