.item-input {
    background-color: #ebdbff;
}

.input-field {
    max-width: 50%;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.425);
    color: black;
    font-family: 'Architects Daughter', cursive;
}

.input-field:focus {
    outline: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.add-button {
    background-color: #009900;
    color: black;
}

.add-button-parent {
    float: right;
    width: 1em;
}