.preview {
    width: 300px;
    height: 300px;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    position: relative;
}

.preview:hover {
    width: 300px;
    height: 300px;
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.2),
                0 10px 10px 5px rgba(0, 0, 0, 0.14),
                0 10px 14px 5px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.inside-preview {
    width: 90%;
    margin: auto;
    position: relative;
    filter: blur(2px);
}

.item-preview {
    background-color: #26ABFF;
    margin-bottom: 2%;
}

.title-preview-parent {
    position: relative;
    top: 2%;
    margin-bottom: 5%;
    text-align: center;
}

.title-preview {
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
}

.list-name-parent {
    position: absolute;
    background-color: rgb(232, 232, 232);
    height: 30%;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.list-title-preview {
    margin-top: 10%;
    font-weight: bold;
}

.list-date-preview {
    font-weight: lighter;
}