<div class="preview" [routerLink]="['/nic_roy23/list/' + list._id]">
    <div class="title-preview-parent"> 
        <span class="title-preview">ShoppingList</span>
    </div>
    <div class="inside-preview">
        <mat-card class="item-preview"></mat-card>
        <mat-card class="item-preview"></mat-card>
        <mat-card class="item-preview"></mat-card>
        <mat-card class="item-preview"></mat-card>
    </div>
    <div class="list-name-parent">
        <div class="list-title-preview">
            {{list.list_name}}
        </div>
        <div class="list-date-preview">
            02/08/2020
        </div>
    </div>
</div>