.parent {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .parent {
    margin-top: 20%;
  }
}

.previews {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.preview {
  margin-top: 10%;
}
